.fName {
    margin-left: 60px;
    border-radius: 5px;
    border: 1 px solid lightgray;
    width: 200px;
    height: 25px;
}

.btn-addEmp {
    margin-top: 40px;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    background: skyblue;
    color: white;
}

.btn-update {
    margin-top: 40px;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    background: lightseagreen;
    color: white;
}

.btn-remove {
    margin-top: 40px;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    background: orange;
    color: white;
}